---
---

<div
  class="text-muted text-sm bg-[#dbeafe] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
WordPress, SEO und Webdesign: Alles aus einer Hand!
</div>


<style>

  div {
    text-align: center;
  }

  a {
    cursor: pointer;
  }
</style>