---
---

<div
  class="text-sm bg-[#dbeafe] dark:bg-[#fce5d8] dark:text-gray-900 dark:border-b dark:border-[#fce5d8] text-muted hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap font-medium"
>
  <a href="mailto:hello@frankfurtmarketingstudio.de" class="hover:underline">
    📧 hello@frankfurtmarketingstudio.de
  </a>
</div>


<style>

  div {
    text-align: center;
  }

  a {
    cursor: pointer;
  }
</style>