---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';


const metadata = {
  title: 'Meine Serviceleistungen',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Service"
    title="Mein SEO Frankfurt Service"
    subtitle="Hier erfahren Sie mehr über meine Serviceleistungen. Zu meinen Serviceleistungen gehören SEO, Webdesign, Webentwicklung, KI und vieles mehr."
    actions={[{ variant:"primary", target: '_blank', text: 'Jetzt anfragen!', href: '/kontakt' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />


<div class="wrapper">

<h2 class="leading-tighter text-heading text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Mein SEO & WordPress Service für Frankfurt</h2>


<p>Als Freelance Suchmaschinenoptimierer aus Frankfurt biete ich Service für 
  die <a href="https://de.wikipedia.org/wiki/Suchmaschinenoptimierung#Onpage-Optimierung" target="_blank">On-Page Optimierung</a>,
  die <a href="https://de.wikipedia.org/wiki/Suchmaschinenoptimierung#Offpage-Optimierung" target="_blank">Off-Page Optimierung,</a> Hilfe mit Content-Management Systemen,
  Hilfe bei falsch programmierten Webseiten sowie einen <strong>Web Design Service</strong> um die User Experience zu verbessern und Ihre Seite für Smartphones zu optimieren.
</p>



<a href="/service/off-page-seo-frankfurt">
    <h2 class="leading-tighter text-heading text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Off-Page Suchmaschinenoptimierung</h2></a>
<ul class="ul-list">
<li>Citations</li>
<li>Backlink Möglichkeiten</li>
<li>Influencer Content Erstellung</li>
<li>Social Media Channel Optimierung</li>
</ul>


<a href="/service/seo-audit-frankfurt">
    <h2 class="leading-tighter text-heading text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">SEO Audit Frankfurt</h2></a>
<ul class="ul-list">
<li>Keyword-Analyse</li>
<li>Analyse Ihres Wettbewerbs (und der Konkurrenten)</li>
<li>Technische SEO Analyse</li>
<li>SEO Analyse auf Seitenebene</li>
<li>Umfassende Analyse der Inhaltsqualität</li>
<li>Testen der Benutzererfahrung</li>
</ul>



<a href="/service/wordpress-frankfurt">
    <h2 class="leading-tighter text-heading text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">WordPress Website für Frankfurt</h2></a>
    <ul class="ul-list">
      <li>Installation von Wordpress auf schnellen Webhoster</li>
      <li>Entwicklung von Plugins</li>
      <li>Theme-Anpassungen</li>
      <li>SEO Plugin Installation and Aktualisierung</li>
      <li>WordPress Backup Service</li>
    </ul>



    <a href="/service/webdesign-frankfurt">
        <h2 class="leading-tighter text-heading text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Webseitenerstellung Frankfurt</h2></a>
<ul class="ul-list">
<li>Erstellung von individuelle Benutzeroberflächen</li>
<li>Spezielles Design für verschiedene Branchen</li>
<li>Design Auffrischung inkl. Handgemachter Icons &amp; Illustrationen</li>
<li>Design-Entwicklung für Blogger</li>
<li>YouTube Banner Design</li>
<li>Social Media Design</li>
<li>Newsletter Design</li>
<li>Footer/Header Design</li>
</ul>

<a href="/service/web-entwicklung-frankfurt">
    <h2 class="leading-tighter text-heading text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Web Entwicklungsservice</h2></a>
<ul class="ul-list">
<li>Programmierung von Javascript</li>
<li>Hinzufügen von Animationen</li>
<li>Hinzufügen von speziellen Funktionen mit Javascript</li>
<li>OnClick Funktionen</li>
<li>CSS Markup Verbessern</li>
<li>Design Programmieren</li>
<li>Code einer Website aufräumen</li>
</ul>








</div>



  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Jetzt unverbindlich anfragen!',
      href: '/kontakt',
    }]}
    title="Noch Fragen?"
    subtitle="Schreiben Sie mir ganz unverbindlich eine Nachricht und ich werde mich so schnell wie möglich bei Ihnen melden."
  />
</Layout>



<style>

a {
    text-decoration: underline;
}

  .wrapper {
    max-width: 800px;
    margin: 0px auto;
    padding: 0 1rem;
  }

  .wrapper:nth-child(3) {
    margin-top: 64px;
  }

  .ul-list {
    list-style: disc;
    padding-left: 20px;
    margin-top: 8px;
  }

  h2 {
    margin-top: 64px;
  }
</style>