---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'SEO Audit Frankfurt',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="FÜR MEHR SICHTBARKEIT"
    title="SEO Audit Frankfurt"
    subtitle="Sind Sie nicht zufrieden mit Ihren Rankings und würden Sie gerne schneller in Frankfurt gefunden werden? Dann ist ein SEO Audit die Lösung. Mit einer einfachen Analyse, erhalten Sie wichtige Infos wie Sie das Ranking Ihrer Website verbessern können."
    actions={[{ variant:"primary", target: '_blank', text: 'Jetzt anfragen!', href: '/kontakt' }]}
    image={{
      src: '/images/seo-audit-frankfurt-am-main.webp',
      alt: 'seo audit frankfurt - bild der frankfurter skyline',
    }}
  />


<div class="wrapper">

  <p>
    Und das beste?
    <br>
    Alles zu einem fairen Preis direkt von einem frankfurter Freelancer.
    <br>
    Rufen Sie mich einfach an oder schreiben Sie mir eine Nachricht.
    Ich erstelle kostenlos ein unverbindliches Angebot für Sie.
    <br><br>
    Ein SEO-Audit ist ein SEO-Gesundheits Check-up für Ihre Website. Denn oft ist es so:
    Sie erstellen eine schöne Website, vielleicht sogar mit SEO im Hinterkopf, aber was kommt danach? 
    <br><br>
    Welche Richtung muss man denn jetzt einschlagen um die Website auf ein Ranking zu bringen?
    <br><br>
    Ein On-Page SEO Audit wird häufig dazu verwendet spezifische Informationen und Details zu sammeln, die ein Webmaster benötigt 
    um Anpassungen an einer SEO-Kampagne vorzunehmen und um ein besseres Ergebniss in den Suchergebnissen zu erzielen. 
    Dabei wird nicht <a href="/seo-manipulation">die SEO zu manipulieren</a>, ganz im Gegenteil. Es wird versucht, so zu optimieren, wie Google das vorschlägt.
    <br><br>
    Für ein erfolgreiches Ranking in den Suchergebnissen, sollte man Brancheneinträge, Ihre Crawl-Fähigkeit, Ladegeschwindigkeit und viele andere Dinge überprüfen. 
    Beim Thema Suchmaschinenoptimeirung oder Online Markieting, geht es nicht nur darum eine Website zu erstellen.
    Es gibt eine ganze Reihe anderer SEO To-Do's die umgesetzt werden müssen, um eine Website an die erste Stelle der Suchergebnisse zu befördern. 
    <br><br>
    SEO-Optimierung ist ein komplexer Prozess, und das Internet wird mit Tipps und Tricks überflutet. 
    Aus diesem Grund ist es so wichtig, ein professionelles SEO Audit auf der website durchführen zu lassen.
    <br><br>
    Professionelle Website-Überprüfungen werden mit Ihrem Unternehmen im Hinterkopf und von einem lebenden SEO-Profi durchgeführt, 
    der versteht, was die wichtigsten Suchmaschinen wie Google und BING suchen. Es gibt heutzutage über 200 Ranking Faktoren. 
    Ich schaue mir bei einem SEO Audit alles genau an.
 </p>
 <br><br>
 <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Was ist das Ziel eines SEO Audits?</h2>

 <ul class="ul-list">
  <li>Fehler finden und beheben. Oft sind es kleine Fehler, welche ein gutes Ranking verhindern.</li>
  <li>Traffic verbessern. Mit einem SEO Audit haben Sie die Möglichkeit Ihren organischen Traffic zu erhöhen.</li>
  <li>Vorteile gegenüber der Konkurrenz. Vor allem lokale Unternehmen, also z.B. Ihre Frankfurter Konkurrenz, vernachlässigen oft die Suchmaschinenoptimierung.</li>
  <li>Verbesserung Ihrer Keyword-Rankings in den Suchergebnissen.</li>
  <li>Steigerung der Online-Leads und -Verkäufe.</li>
  <li>Verbesserung der Website-Erfahrung der Benutzer.</li>
  <li>Ladezeit der Website verbessern.</li>
  </ul>
  <br><br>
  <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Wie erreichen wir diese Ziele?</h2>

  <ul class="ul-list">
    <li>Ich analysiere die SEO-Basis Ihrer Website.</li>
    <li>Ich analysiere Ihre bisherigen SEO Bemühungen.</li>
    <li>ich entdecke neue SEO Prioritäten für Ihre Seite.</li>
    <li>Ich überprüfe den Inhalt aus Sicht eines SEO's.</li>
</ul>

<p>Ich überprüfe den Inhalt der Website auf leere Seiten und auf nicht hilfreichen Inhalt. 
  Danach empfehle ich erforderliche Inhaltsänderungen, technische SEO Aspekte sowie weitere On-Page Faktoren.</p>
  <br><br>
  <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">SEO Audit Frankfurt am Main</h2>

  <p>Ich überprüfe die bisherigen SEO-Bemühungen der Website und verbessere sie aus SEO Sicht. 
    Ich überprüfe ebenfalls die Links, den Inhalt sowie die URL Architektur.</p>
    <br><br>
    <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Backlinks</h2>

    <p>Ich überprüfe die Seite auf defekte Links. Ich behebe diese Probleme mit Tipps zur Neuerstellung sowie mit Weiterleitungen.</p>
    <br><br>
    <h3>Was ist der Unterschied zwischen einem kostenlosen SEO Audit und einem bezahlten?</h3>

    <p>Der Unterschied liegt im Ergebnis. Während Sie beim kostenlosen SEO Audit zwar allgemeine SEO Fehler erkennen können, bietet das bezahlte SEO Audit direkte Handlungsanweisungen um die Rankings Ihrer Seite für Frankfurt zu verbessern.</p>
    <br><br>
    <h3>Was kostet ein SEO Audit?</h3>

    <p>Das ist so nicht leicht zu beantworten. Jede Website ist anders aufgebaut. Die Erstellung eines Angebots ist allerdings komplett kostenlos und unverbindlich. Einfach direkt anfordern.</p>

</div>




  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Jetzt unverbindlich anfragen!',
      href: '/kontakt',
    }]}
    title="Noch Fragen?"
    subtitle="Schreiben Sie mir ganz unverbindlich eine Nachricht und ich werde mich so schnell wie möglich bei Ihnen melden."
  />
</Layout>



<style>
  .wrapper {
    max-width: 800px;
    margin: 0px auto;
    padding: 0 1rem;
  }

  .wrapper:nth-child(3) {
    margin-top: 64px;
  }

  .ul-list {
    list-style: disc;
    padding-left: 20px;
    margin-top: 8px;
  }
</style>