---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Webseite erstellen lassen Frankfurt',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Homepage erstellen lassen"
    title="Webseite erstellen lassen Frankfurt"
    subtitle="Als Freelance Webdesigner in Frankfurt gehört nicht nur die SEO zu meinen Aufgaben. Ich helfe dir ebenfalls mit der Erstellung deiner Frankfurter Website."
    actions={[{ variant:"primary", target: '_blank', text: 'Jetzt anfragen!', href: '/kontakt' }]}
    image={{
      src: '/images/gestaltung-einer-website.webp',
      alt: 'erstellung einer webseite für frankfurter unternehmen',
    }}
  />


  <!-- Content Widget **************** -->

  <Content
  isAfterContent
    items={[
      {
        title: 'Professionelle Webseitengestaltung in Frankfurt',
        description:
          'Suchst du einen frankfurter Freelancer, der deine Webseite zum Leben erweckt? Das bin ich! Ich erstelle Webseiten, die genau das sind – einfach zu nutzen und toll anzusehen. Also, lass deine Webseite erstellen & erzähl mir mehr von deinem Projekt - ich freue mich auf dich!',
        icon: 'tabler:wand',
      },
      {
        title: 'Maßgeschneiderte Lösungen',
        description:
          'Jedes Unternehmen ist einzigartig, und das sollte auch deine Webseite sein. Ich biete maßgeschneiderte Lösungen bei der Erstellung deiner Webseite an.',
        icon: 'tabler:settings',
      },
      {
        title: 'Mehr als nur Webseiten erstellen',
        description:
          'Deine Webseite ist fertig und bereit, die Welt zu erobern! Aber wie sorgst du dafür, dass sie von deinen Zielkunden gefunden wird? Hier kommt mein SEO Service für Frankfurt ins Spiel. Als erfahrener SEO-Freelancer integriere ich wichtige SEO-Elemente bereits während der Entwicklung deiner Webseite.',
        icon: 'tabler:presentation',
      },
    ]}
    image={{
      src: '/images/frankfurt-niederrad.avif',
      alt: 'website erstellen in frankfurt am main, hessen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">In Frankfurt zu Hause - Webseitenerstellung aus der Mainmetropole</h3>
    </Fragment>
  </Content>


  <Content
  isReversed
    items={[
      {
        title: 'Komplette Webseite erstellen lassen',
        description:
          'Vom ersten Entwurf bis zum letzten Klick, alles kommt von mir. So leicht ist es sich eine Website erstellen zu lassen.',
        icon: 'tabler:wand',
      },
      {
        title: 'Responsive Design',
        description:
          'Ich verstehe die Wichtigkeit eines professionellen Webdesigns und arbeite mit modernsten CMS-Systemen wie WordPress, um dir eine benutzerfreundliche Website zu bieten. Dabei achte ich besonders auf Responsive Design, um sicherzustellen, dass deine Webseite auf allen Geräten perfekt dargestellt wird.',
        icon: 'tabler:settings',
      },
      {
        title: 'Du hast alles in der Hand',
        description:
          'Wenn ich deine Webseite erstelle, hast du das Ruder in der Hand. Du erhältst eine benutzerfreundliche Oberfläche, mit der du jederzeit ganz einfach Inhalte aktualisieren und anpassen kannst. Vollständige Kontrolle und Unabhängigkeit – so bleibt deine Webseite immer genau so, wie du es möchtest.',
        icon: 'tabler:presentation',
      },
    ]}
    image={{
      src: '/images/Katharinenkirche.avif',
      alt: 'Katharinenkirche in frankfurt am main, hessen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Vom Design zur Programmierung - alles aus einer Hand</h3>
    </Fragment>
  </Content>


  <!-- Features3 Widget ************** -->

  <Features3
    title="Zu meinem Freelance Webdesign Service gehört:"
    subtitle="Faire Preise, transparente Kosten und ein schneller Service."
    columns={2}
    items={[
      {
        title: 'Erstellen kompletter Webseiten',
        description: 'Gestaltung & Design von One-Pagern, also mehrseitigen Webseiten. Modernen und zeitgemäßen Design.',
        icon: 'tabler:stairs',
      },
      {
        title: 'Erstellung individueller Illustrationen',
        description: 'Erstellung individueller Illustrationen für deine Webseite. Das verlieht deiner Webseite einen persönlichen Touch.',
        icon: 'tabler:flip-vertical',
      },
      {
        title: 'Werbebanner',
        description: 'Werbebanner für deine Webseite oder für deine Social Media Kanäle.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Erstellung einer lokalen Webseite',
        description: `Für den lokalen frankfurter Bäcker, oder den Unternehmer im Bankenviertel. Mein Fokus liegt auf Frankfurt.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Einzelne Felder wie “Newsletter"',
        description: 'Einzelne Felder wie “Newsletter" oder “Kontaktformular" können ebenfalls designed & programmiert werden.',
        icon: 'tabler:headset',
      },
      {
        title: 'Redesign einer bestehenden Website',
        description: 'Redesign einer bestehenden Website mit neuen Elementen und Funktionen.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />




  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Webseite bauen lassen FAQs"
    subtitle="Hier sind einige häufig gestellte Fragen (FAQs) zum Thema Homepage in Frankfurt bauen lassen. Solltest du weitere Informationen benötigen oder sollte eine deiner Fragen nicht beantwortet sein, zögere bitte nicht, uns zu kontaktieren."
    columns={1}
    items={[
      {
        title: 'Mit welchen Werkzeugen erstelle ich eine Webseite?',
        description:
          'Beim Erstellen deiner Webseite setze ich auf die neuesten und effizientesten Technologien, um dir nicht nur eine beeindruckende, sondern auch kosteneffiziente Lösung zu bieten. Für dynamische Projekte nutze ich moderne Frameworks wie Astro. Diese Ansätze sind nicht nur blitzschnell und SEO-freundlich, sondern helfen auch Hosting-Kosten zu sparen.',
      },
      {
        title: 'Werde ich meine Webseite alleine ändern können?',
        description:
          "Für Kunden, die eine vollständig anpassbare Lösung suchen, biete ich individuelle Webseiten mit WordPress. WordPress ist ideal für Projekte, bei denen Flexibilität und Individualisierung im Vordergrund stehen. Von Blogs bis hin zu umfangreichen Unternehmenswebsites – mit WordPress ist nahezu alles möglich. Es ermöglicht eine einfache Inhaltsverwaltung und Anpassung, sodass du deine Webseite nach Belieben erweitern und anpassen kannst.",
      },
      {
        title: 'Kann man die Webseite vorher besprechen?',
        description:
          "Als Webdesigner in Frankfurt liebe ich es, überall in der Stadt meine Kunden zu treffen und mit ihnen zusammenzuarbeiten. Ob in den lebendigen Straßen von Sachsenhausen, wo das kreative Flair inspiriert, oder im geschäftigen Bankenviertel, wo innovative Ideen auf Professionalität treffen – jede Ecke Frankfurts hat ihren eigenen Charme.",
      },
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Jetzt unverbindlich anfragen!',
      href: '/kontakt',
    }]}
    title="Noch Fragen?"
    subtitle="Schreib mir ganz unverbindlich eine Nachricht und ich werde mich so schnell wie möglich bei dir melden."
  />
</Layout>



<style>
  .wrapper {
    max-width: 800px;
    margin: 0px auto;
    padding: 0 1rem;
  }

  .wrapper:nth-child(3) {
    margin-top: 64px;
  }
</style>