---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';


const metadata = {
  title: 'WordPress Freelancer Frankfurt',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Ihr WordPress Spezialist"
    title="WordPress Frankfurt"
    subtitle="WordPress Webseiten inkl. Installation & Konfigurierung. Ich helfe Ihnen bei der Erstellung, Wartung & Bearbeitung Ihrer WordPress Seite."
    actions={[{ variant:"primary", target: '_blank', text: 'Jetzt anfragen!', href: '/kontakt' }]}
    image={{
      src: '/images/wordpress-frankfurt.svg',
      alt: 'WordPress Frankfurt',
    }}
  />



<div class="wrapper">
  <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">WordPress Freelancer Frankfurt (WordPress Entwickler, Programmierer)</h2>
  <p>Mit meinem WordPress Service für Frankfurt, biete ich als Freelancer Frankfurt Komplettlösungen für Ihre <a href="https://de.wordpress.com/">WordPress</a> Website an.
Diese <strong>Dienstleistung</strong> beinhaltet unter anderem den Transfer Ihrer alten Webseite zu einer neuen WordPress Homepage inkl. einer
neuen und frischen <strong>WordPress Installation</strong>, das Lösen von bekannten & unbekannten WordPress Fehlern, das <strong>Debugging</strong> der
Programmierung oder einfach nur eine WordPress Anpassung an Ihre Wünsche (z.B. einen Instagram Feed in den Blog einbauen). Das alles spielt
nämlich bei der Suchmaschinenoptimierung eine große Rolle.

Daneben kann ich <strong>Benutzeroberflächen</strong> für Ihre WordPress Homepage erstellen oder Ihnen mit den vielen verschiedenen WordPress Plugins helfen.
  Sollten Sie noch keine Website besitzen, helfe ich Ihnen gerne mit meinem <a href="webdesign-frankfurt">Webdesign Service weiter.</a></p>
<br>
  <img src="/images/wordpress-programmierung-frankfurt.jpg" alt="wordpress programmierer frankfurt">

  <br>
  <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Das beliebteste Content-Management-System</h2>

  <p>
  WordPress ist ein sehr beliebtes <a href="https://de.wikipedia.org/wiki/Content-Management-System">Content Management System</a>. Es funktioniert Open-Source und die <strong>WordPress Gemeinschaft</strong>, unterstützt ihre Nutzer und Mitglieder mit vielen hilfreichen Tipps & Tricks, beispielsweise, wie man neue Funktionen einbaut oder das richtige Plugin findet.
  <br><br>
  Mit einer einfachen <strong>grafischen Oberfläche</strong>, können Funktionen dann vom Webseiten Betreiber selbst eingefügt werden.
Für solch einen Job bräuchte man normalerweise die Hilfe eines <strong>Webentwicklers</strong>. Mit WordPress ist das ganze nicht
mehr nötig. Hinzu kommt noch, dass man auch den Inhalt selbst verändern kann und das alles ohne Programmierkenntnisse.
  </p>

  <br><br>
  <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Häufige WordPress Fehler:</h2>

  <ul class="ul-list">
<li>Installation und Bearbeitung von SEO Plugins</li>
  <li>Probleme beim Hochladen von Multimedia (Bilder).</li>
  <li>Fehler bei der Einbindung von Social Media (Facebook, Instagram).</li>
  <li>Internal Server Fehler.</li>
  <li>404 Fehler für Artikel oder andere wichtige Seiten.</li>
  <li>E-Mail Versendung funktioniert nicht.</li>
  <li>Server oder Seitenumleitung funktioniert nicht richtig.</li>
  <li>Upload von Themes und Dateien funktioniert nicht.</li>
  <li>BackUp Probleme</li>
  </ul>


  <p>Solche Fehler kann man problemlos beheben, ich helfe Ihnen dabei die richtige Lösung zu finden und erstelle oder bearbeite ihre WordPress Seite zum Festpreis.</p>

  <br><br>
  <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">WordPress Seite für das Smartphone</h2>

  <p>Mit meinem Freelance <a href="https://de.wikipedia.org/wiki/Responsive_Webdesign">Responsive WordPress</a> Service, passe ich jeden
  grafischen Inhalt an die verschiedenen Endgeräte an. Vor zwei Jahren hat Google seinen <strong>Mobile Only Index</strong> ausgerollt,
  bedeutet mit anderen Worten: Die <strong>mobile Seite</strong> Ihrer Homepage, wird stärker gewichtet als die Desktop Version. Das beudetet also, dass Ihr Frankfurter Business mit Ihrer Website, perfekt auf mobile Endgeräte angepasst werden sollte.</p>

  <p>
      Es spielt keine Rolle ob Sie ein iPhone 14, ein Xiaomi, ein Samsung Galaxy S23 oder 
      ein iPad (oder sogar ein Phablet nutzen). 
      Der Inhalt sollte sich auf jedem <strong>Viewport</strong> anpassen, er sollte 
      fließen wie Wasser. 
      Was ich damit meine ist, es spielt keine Rolle wie die <strong>Bildschirmauflösung</strong> 
      und die <strong>Bildschirmbreite</strong> aussieht, die Schrift, die Bilder und der gesamte 
      Inhalt sollte so angepasst werden, dass die Bedienung auf dem <strong>Touchscreen</strong> 
      genau so einfach ist, wie die Bedienung mit Tastatur und Maus.
      <br><br>
      Damit das funktioniert, nutze ich bei meinem Frankfurter Responsive WordPress Service 
      sogenannte <a href="https://de.wikipedia.org/wiki/Cascading_Style_Sheets#Eigenschaftsspezifische_Stylesheets_(Media_Queries)">CSS Media Queries</a>, auch @ Media genannt. Das ist bei der Programmierung sehr wichtig, damit auch alles auf jedem Browser glänzt.
      </p>

      <br><br>
      <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Mein Responsive Web Design Service beinhaltet:</h2>

      <ul class="ul-list">
      <li>Anpassung bestehender Seiten.</li>
      <li>Neuerstellung einer mobilen Webseite.</li>
      <li>Fehler für verschiedene Geräte oder Browser beheben.</li>
      <li>Alles an den Mobile First Index anpassen.</li>
      </ul>
</div>




  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Jetzt unverbindlich anfragen!',
      href: '/kontakt',
    }]}
    title="Noch Fragen?"
    subtitle="Schreiben Sie mir ganz unverbindlich eine Nachricht und ich werde mich so schnell wie möglich bei Ihnen melden."
  />
</Layout>



<style>
  .wrapper {
    max-width: 800px;
    margin: 0px auto;
    padding: 0 1rem;
  }

  .wrapper:nth-child(3) {
    margin-top: 64px;
  }

  .ul-list {
    list-style: disc;
    padding-left: 20px;
    margin-top: 8px;
  }
</style>