---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Über Mich SEO Lukasz',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Über Mich"
    image={{
      src: 'images/freelancer-lukasz-adam-seo-wordpress.webp',
      alt: 'Freelancer Lukasz',
    }}
  >
    <Fragment slot="title">
      Bringe deine Website auf  <br />
      <span class="text-accent dark:text-white highlight">das nächste Level!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ich heiße Lukasz und ich optimiere, programmiere und erstelle Webseiten und erhöhe Traffic mit Hilfe von SEO Marketing. Mein Studium als Bachelor of Science schloss ich in Wiesbaden ab und nun versorge ich Frankfurt am Main mit der SEO, also der Suchmaschinenoptimierung sowie mit WordPress.
    </Fragment>
  </Hero>

  <div class="wrapper">
    <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">SEO, WordPress & mehr</h2>
  
    <p>
      SEO, WordPress & mehr  
      Ich liebe es, Probleme in der effektivsten Art und Weise zu lösen, und ich liebe es, anderen dabei zu helfen, ihre Visionen online umzusetzen. Egal, ob es darum geht, eine eigene Webseite zu erstellen, eine Benutzeroberfläche zu designen oder bei Herausforderungen mit Online Marketing, WordPress oder Webentwicklung zu helfen – ich bin sicher, die perfekte Lösung für dein Anliegen zu finden.
  </p>
  <br>
  <p>
      Ich bin begeistert davon, neue Sprachen zu lernen und Dinge zu entdecken, die meine Arbeit besser und kreativer machen. Neue Technologien auszuprobieren, gehört für mich einfach dazu. Es gibt so viele spannende Möglichkeiten, die digitale Welt weiterzuentwickeln, und ich will immer am Puls der Zeit bleiben. React und Astro.js sind Tools, die mich immer wieder aufs Neue faszinieren. Damit zu arbeiten, fühlt sich für mich wie das Entdecken neuer kreativer Wege an. Gleichzeitig ist <a href="/service/wordpress-frankfurt">WordPress</a> für mich ein Bereich, den ich ständig weiterentwickle, weil es so vielseitig ist und nahezu jede Idee realisierbar macht.
  </p>
  <br>
  <p>
      Was mich besonders antreibt, ist die Verbindung von Technologie und Kreativität. Ich interessiere mich sehr für Künstliche Intelligenz (KI) und bin immer auf der Suche nach Wegen, KI in meine Arbeit zu integrieren. Ob bei WordPress-Projekten, im Design oder bei anderen Freelance-Leistungen – KI bietet unglaubliche Chancen, um Projekte noch effizienter und wirkungsvoller umzusetzen. Es motiviert mich, meinen Kunden Lösungen anzubieten, die nicht nur heute, sondern auch in der Zukunft überzeugen.
  </p>
  <br>
  <p>
      Auch in Sachen Design entwickle ich mich ständig weiter. Ich finde es spannend, wie man mit Farben, Formen und Ideen Geschichten erzählen kann. Illustrationen zu erstellen, ist für mich eine Art, Kreativität auszudrücken und Gedanken visuell greifbar zu machen. Design ist für mich mehr als nur Ästhetik – es ist Kommunikation, und ich liebe es, diese Sprache immer besser zu beherrschen.
  </p>
  <br>
  <p>
      Was mich außerdem inspiriert, ist die Zusammenarbeit mit Menschen. Ich arbeite gerne mit Menschen aus der ganzen Welt zusammen, weil jeder neue Kontakt eine neue Perspektive bringt. Es begeistert mich, wenn ich von anderen inspiriert werde und wenn ich gleichzeitig Inspiration zurückgeben kann. Wenn du mehr über mich erfahren möchtest oder an einer Zusammenarbeit interessiert bist, schreibe mir einfach eine Mail oder nutze mein Kontaktformular. Ich freue mich darauf, von dir zu hören!
  </p>

  <br>


  <h2 class="leading-tighter text-heading text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Frankfurt am Main</h2>

  <p>
    Frankfurt ist für mich ein besonderer Ort zum Arbeiten. Ich liebe die Energie dieser Stadt und die Vielfalt, die sie bietet. Besonders gerne treffe ich meine Kunden auf einen Kaffee in der Bergerstraße. Die entspannte Atmosphäre dort macht es leicht, Ideen zu teilen und kreative Lösungen zu entwickeln. Wenn du in Frankfurt bist, lass uns einfach dort treffen – ich freue mich auf ein persönliches Gespräch mit dir!
</p>

  </div>
  




</Layout>



<style>

a {
  text-decoration: underline;
}


  .wrapper {
    max-width: 800px;
    margin: 64px auto;
    padding: 0 1rem;
  }

  .wrapper:nth-child(3) {
    margin-top: 64px;
  }

  .ul-list {
    list-style: disc;
    padding-left: 20px;
    margin-top: 8px;
  }
</style>