---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'SEO Freelancer Frankfurt [Einfach anrufen: 0162 751 9335]',
  description: 'SEO muss nicht schwer sein – als Ihr SEO Freelancer in Frankfurt zeige ich Ihnen, wie einfach Sie Ihr Ranking verbessern. Lassen Sie uns starten! Rufen Sie jetzt an: 0162 751 9335.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Kontakt',
        href: '/kontakt',
        target: '',
        icon: 'tabler:mail',
      },
      { text: 'Anrufen', 
        href: 'tel:+49-162-7519335',
        icon: 'tabler:phone', 
      },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      SEO Freelancer Frankfurt <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> - Ihr SEO in Frankfurt am Main </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Willkommen!</span></span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Einfach anrufen.</span>
      Mit meinem Freelance SEO Service biete ich einfache Lösungen für Ihre Webseite an.
      Einfach direkt anrufen: 0162 751 9335 oder schreiben: kontakt@uxffm.com
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="FÜR FRANKFURT & UMGEBUNG"
    title="SEO Freelancer für Frankfurt am Main"
    subtitle="Hallo Frankfurt! Mein Name ist Lukasz und ich bin Suchmaschinenoptimierer (SEO), Webentwickler & Designer."
    items={[
      {
        title: 'On-Page & Off-Page Optimierung',
        description:
          'Als SEO Freelancer für Frankfurt, kümmere ich mich um moderne Suchmaschinenoptimierung. Ich helfe Ihnen mit der On-Page als auch mit der Off-Page Optimierung.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Local SEO Frankfurt',
        description:
          'Ich kümmere mich um die Local SEO, die Programmierung Ihrer Website, das User Interface Design und ebenfalls um die Verbesserung der User Experience.',
        icon: 'tabler:components',
      },
      {
        title: 'Für ganz Frankfurt',
        description:
          'Meinen Service biete ich für das ganze Stadtgebiet Frankfurt am Main an inkl. (Stadtmitte, Bockenheim, Bornheim, Dornbusch, Westend, Griesheim, Nied, Höchst, Niederrad usw.)',
        icon: 'tabler:list-check',
      },
      {
        title: 'Einfach kontaktieren',
        description:
          'Wenn ich Sie unterstützen kann, schreiben Sie mir gerne eine Nachricht. Ganz unverbindlich, finden wir gemeinsam eine schnelle Lösung.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Mehr als nur einfache SEO',
        description:
          "Mein Ziel als SEO Freelancer ist es, Frankfurt mit individuellen Lösungen rund um das Thema Suchmaschinenoptimierung zu versorgen. Um das zu schaffen, geht mein Service über einfache Keyword-Analysen hinaus.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'SEO Audits',
        description:
          'Meistens fange ich mit einem SEO Audit für ihr Frankfurter Unternehmen an. In Zusammenarbeit mit Ihnen, verbessere ich Ihre Website so, dass nicht nur Suchmaschinen begeistert sind sondern vor allem Ihre Nutzer.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Ihre Online-Marketing Strategie"
    title="Individuelle Marketing Lösungen für Sie"
    items={[
      {
        title: 'Viele Wege führen auf die #1',
        description:
          'Ich helfe Ihnen durch die SEO-Welt indem ich Landingpages gestalte, Content für Suchmaschinen optimiere, Ihren E-Commerce Store mit einer geeigenen Online-Marketing Strategie auffrische oder indem ich einfach das On-Page SEO verbessere.',
      },
      {
        title: 'Effektive SEO Optimierung',
        description:
          ' Bei meinem Service geht es nicht um die SEO Manipulation, sondern die effektive Optimierung Ihrer Webseite.',
      },
      {
        title: 'Benutzerfreundlichkeit',
        description:
          'Benutzerfreundlichkeit, also die User Experience gehört 2024 zu den wichtigsten SEO Faktoren. Ihre Homepage sollte das Internet zu einem besseren Ort machen und damit das auch gelingt, müssen Ihre Besucher zufrieden sein. Nur so schaffen Sie es Ihre Conversion Rate zu steigern und Ihre Besucher zu Ihren Kunden zu machen.',
      },
    ]}
    image={{
      src: '/images/seo-frankfurt.jpg',
      alt: 'frankfurt am main skyline ausblick',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">SEO für jeden!</h3>
      Es spielt keine Rolle, ob Sie ein Entrepreneur, ein Personal-Trainer oder ein leidenschaftlicher Blogger sind. 
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Internationale SEO',
        description: `Ich habe das Vergnügen, mit einer Vielzahl von Menschen aus unterschiedlichen Branchen zusammenzuarbeiten, einschließlich Einzelunternehmern, Freelancern, Start-ups, Bloggern, lokalen Geschäften, Entwicklern, Restaurants sowie Menschen aus anderen Geschäftsbereichen.`,
      },
      {
        title: 'Langjährige Erfahrung',
        description:
          'Da ich viel international arbeite, biete ich jede meiner SEO Dienstleistungen, zusammen mit den neusten und modernsten Methoden an. Jede von mir optimierte Webseite verfügt am Ende über maßgeschneiderte On-Page Meta-Daten, die auf die individuellen Keywords Ihres Unternehmens abgestimmt sind.',
      },
      {
        title: 'Keine versteckten Kosten',
        description:
          "Transparente Kosten ohne langjährige Vertragsbindung. Ich biete Ihnen eine monatliche Abrechnung an, die Sie jederzeit kündigen können. Ich bin mir sicher, dass Sie mit meiner Arbeit zufrieden sein werden, aber ich möchte, dass Sie sich wohl fühlen.",
      },
    ]}
    image={{
      src: '/images/seo-freelancer.webp',
      alt: 'seo & wordpress freelancer',
    }}
  >
    <Fragment slot="content">Ihr Suchmaschinenoptimierer für die Stadt Frankfurt. </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

   <!-- Features2 Widget ************** -->

   <Features2
   title="Wie ich helfen kann?"
   subtitle="Ein paar Beispiele"
   columns={3}
   items={[
     {
       title: 'On-Page SEO',
       description:
         'On-Page SEO (Inhaltserstellung, Interne Verlinkungen, Seitentitel, Wolkenkratzer-Technik, Title Tags). Alles was dazu gehört.',
       icon: 'tabler:school',
     },
     {
       title: 'Off-Page SEO ',
       description:
         'Die Off-Page SEO beinhaltet White-Hat Methoden um natürliche Backlinks aufzubauen. So steigern Sie das Vertrauen Ihrer Webseite für Google und Ihre Nutzer. (Citations, Social-Media Kanäle, Backlink Tipps.)',
       icon: 'tabler:home-star',
     },
     {
       title: 'Der Gestaltung und Entwicklung von Benutzeroberflächen (Design)',
       description: `Websites, Apps, Smartphone-Optimierte Webseiten, Landing Pages. Es gibt keine Grenzen. Ohne das richtige Design geht es nicht.`,
       icon: 'tabler:photo',
     },
     {
       title: 'SEM Suchmaschinenwerbung',
       description:
         'inkl. Kampagnenerstellung, Reporting und PPC Optimierung.',
       icon: 'tabler:shopping-cart',
     },
     {
       title: 'User Experience',
       description:
         'Der Verbesserung der User Experience. Damit Ihre Nutzer eine ansprechendere und benutzerfreundlichere Webseite erleben.',
       icon: 'tabler:article',
     },
     {
       title: 'E-Commerce',
       description:
         'E-Commerce Hilfe und Content Konzeptentwicklung.',
       icon: 'tabler:building-store',
     },
     {
       title: 'SEO gerechte Web & WordPress Entwicklung',
       description:
         '(HTML5, CSS3, Javascript, PHP, Angular JS, Bootstrap) - Hilfe mit SEO Plug-ins, Sicherheit, Schnelligkeit.',
       icon: 'tabler:arrow-big-up-lines',
     },
     {
       title: 'Webhosting Lösungen',
       description: `Verbesserung der Geschwindigkeit duch bessere Webhoster. Auswahl eines Web Hosting Services ohne monatliche Kosten.`,
       icon: 'tabler:settings-plus',
     },
     {
       title: 'Responsive Webdesign',
       description:
         'Meine Smartphoneoptimierung für alle Geräte inkl. Tablets sorgt dafür, dass Ihre Webseite auf verschiedenen Bildschirmgrößen und Plattformen einwandfrei funktioniert und eine optimale Benutzererfahrung bietet.',
       icon: 'tabler:tie',
     },
   ]}
 />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Kostenlose Erstberatung',
        href: '/kontakt',
        target: '',
        icon: 'tabler:message',
      },
    ]}
  >
    <Fragment slot="title">
      Noch Fragen?<br class="block sm:hidden" /> <span class="sm:whitespace-nowrap">Einfach schreiben ;)</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ich melde mich innerhalb kürzester Zeit zurück. Alle Anfragen sind selbstverständlich unverbindlich.
    </Fragment>
  </CallToAction>
</Layout>


