---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  {
    posts.map((post) => (
      <li>
        <Item post={post} />
      </li>
    ))
  }
</ul>
